* {
    margin: 0;
    padding: 0;
}

.add-form {
    background: #fff;
    padding: 0.5rem;
}

.add-form .p-field {
    margin-bottom: 0.75rem;
}

.add-form label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.add-form input {
    padding: 5px;
}

button {
    padding: 5px;
}

.p-dialog .p-button {
    min-width: 6rem;
}

.p-dialog .p-button.p-button-primary {
    background-color: #1976d2;
    border-color: #1976d2;
}