/* :host {
  display: block;
  background-color: var(--app-bg);
  color: var(--text-primary);
} */

.header {
  margin-bottom: 0;
  color: var(--text-primary);
}

.subtitle {
  margin-top: 0.5rem;
  opacity: 0.7;
  color: var(--text-secondary);
}


.stat-card,
.e-charts,
.quick-stats-card {
  background-color: var(--card-bg) !important;
  color: var(--text-primary);
  border-radius: 12px;
  box-shadow: var(--card-shadow);
  transition: all 0.3s ease;
  padding: 20px;
  margin-top: 0.5rem;
}

.e-charts h3 {
  margin: 0;
}

.quick-stats-card {
   margin-top: 2rem;
}

.icon {
  padding: 8px;
  border-radius: 8px;
}

.icon i {
  font-weight: 500;
  font-size: 1.5rem;
}

.icon.blue {
  background: var(--primary-soft);
  color: var(--primary);
}

.icon.green {
  background: var(--success-soft);
  color: var(--success);
}

.icon.purple {
  background: var(--indigo-soft);
  color: var(--indigo);
}

.icon.orange {
  background: var(--warning-soft);
  color: var(--warning);
}

.stat-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.stat-card h2 {
  margin-bottom: 0;
}

.stat-card p {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.echart-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.stats-container {
  display: flex;
  gap: 3rem;
}

.stat-content {
  border-left: 4px solid;
  padding-left: 1rem;
}

.stat-content.blue {
  border-color: var(--primary);
}

.stat-content.green {
  border-color: var(--success);
}

.stat-content.purple {
  border-color: var(--indigo);
}

.label {
  opacity: 0.9;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.value {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color:  var(--text-primary);
}

.trend.up {
  color: var(--success);
}

.trend.down {
  color: var(--danger);
}

/* 5. Chart Heights */
.line-chart,
.bar-chart1,
.pie-chart,
.bar-chart {
  height: 350px;
  width: 100%;
}
