<p-dialog header="Add student" [(visible)]="display" [modal]="true" [style]="{width: '600px'}" [baseZIndex]="10000">
  <div class="p-fluid add-form">
    <div class="p-field">
      <label>First Name <span class="required">*</span></label>
      <input pInputText [(ngModel)]="student.firstName" />
    </div>

    <div class="p-field">
      <label>Last Name <span class="required">*</span></label>
      <input pInputText [(ngModel)]="student.lastName" />
    </div>

    <div class="p-field">
      <label for="email">Email <span class="required">*</span></label>
      <input pInputText id="email" [(ngModel)]="student.email" />
    </div>

    <div class="p-field">
      <label>Age</label>
      <input pInputText type="number" [(ngModel)]="student.age" />
    </div>

    <div class="p-field">
      <label>Roll No <span class="required">*</span></label>
      <input pInputText [(ngModel)]="student.rollNumber" />
    </div>

    <div class="p-field">
       <label for="course">Course <span class="required">*</span></label>
      <select class="select" [(ngModel)]="student.course">
        <option value="">Select Course</option>
        <option value="CS">CS</option>
        <option value="IT">IT</option>
        <option value="English">English</option>
        <option value="Sci">Sci</option>
        <option value="ECE">ECE</option>
      </select>
    </div>

    <div class="p-field">
      <label for="year">Year <span class="required">*</span></label>
      <select class="select" [(ngModel)]="student.year">
        <option value="1">Select Year</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="p-field">
      <label>Enrollment Date <span class="required">*</span></label>
      <input type="date" class="select" [(ngModel)]="student.enrollmentDate" />
    </div>

    <div class="p-field">
      <label>Phone</label>
      <input pInputText [(ngModel)]="phone" />
    </div>

    <div class="p-field">
      <label>Guardian Name <span class="required">*</span></label>
      <input pInputText [(ngModel)]="guardianName" />
    </div>
  </div>

  <div class="address-field">
    <label>Address <span class="required">*</span></label>
    <textarea class="address" rows="4" [(ngModel)]="address">
      </textarea>
  </div>

  <div class="buttons">
    <button class="btn btn-cancel" (click)="cancel()">Cancel</button>
    <button class="btn btn-add" (click)="add()">Add</button>
  </div>

</p-dialog>