.header-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.header-section h2 {
  margin-top: 0;
  flex: 1;
}

.header-section button {
  border-radius: 6px;
  padding: 0 1rem;
  font-size: 0.85rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-inputgroup {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.p-inputgroup p-iconfield {
  flex: 1;             
  min-width: 280px;
}

.search-box input {
  width: 280px;
  min-width: 500px;
}

.card h2 {
  margin-bottom: 1rem;
}

:host ::ng-deep .student-row:hover {
  background-color: #f4f8ff; 
}

:host ::ng-deep .student-row {
  cursor: pointer;
}

.sticky-caption {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.global-search-input {
   width: 100%;
}

.selection-bar {
  grid-area: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  background: var(--selectionbar-bg);
  margin: 1rem 1rem 1rem 0;
}

.selection-bar span {
  color: #1d4ed8;
}

.p-button-primary {
  background-color: #1d4ed8;
  color: white;
  border: none;
}

.p-button-primary:hover {
  background-color: #2a53c4;
}

.p-inputtext {
  background: var(--card-bg);
  color: var(--text-primary);
}

.p-select {
  background: var(--card-bg);
  color: var(--text-primary);
}

.p-select-overlay {
  background: var(--card-bg);
  color: var(--text-primary);
}