.header-section {
  display: flex;
  gap: 1rem;
  /* justify-content: space-between; */
  margin-bottom: 1rem;
}

.header-section h2 {
  flex: 1;
}

.header-section button {
  border-radius: 6px;
  padding: 0 1rem;
  font-size: 0.85rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.p-inputgroup {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  gap: 1rem; 
}

.search-box input {
  width: 280px;
}

.card h2 {
  margin-bottom: 1rem;
}

:host ::ng-deep .student-row:hover {
  background-color: #f4f8ff; 
}

:host ::ng-deep .student-row {
  cursor: pointer;
}

.global-search-input {
    width: 550px;
}

.selection-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  background-color: #f0f8ff;
  margin: 1rem 1rem 1rem 0;
}

.selection-bar span {
  color: #1d4ed8;
}

.p-button-primary {
  background-color: #1d4ed8;
  color: white;
  border: none;
}

.p-button-primary:hover {
  background-color: #2a53c4;
}