<div class="card">
  <div class="header-section">
    <h2>{{ title }}</h2>
    
    <button
      pButton
      icon="pi pi-download"
      label="Export CSV"
      class="p-button-success"
      (click)="exportCSV()">
    </button>

    <button
      pButton
      icon="pi pi-download"
      label="Export JSON"
      class="p-button-help"
      (click)="exportJSON()">
    </button>
  
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      label="Add Student"
      class="p-button-primary"
      (click)="openAddStudent()">
    </button>
  </div>

  <!-- toast -->
  <div class="card flex justify-center">
    <p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
  </div>

  <p-table
    #dt
    [value]="students()"
    dataKey="id"
    [globalFilterFields]="['id','name','email','age','course']"
    [(selection)]="selectedStudents"
    selectionMode="multiple"
    [virtualScroll]="true"
    [virtualScrollItemSize]="48"
    scrollHeight="100vh"
    [scrollable]='true'
    
  >
 
    <ng-template pTemplate="caption">
      <div class="p-inputgroup">
        <p-iconfield iconPosition="left">
            <p-inputicon> 
                <i class="pi pi-search"></i>
            </p-inputicon>
            <input
                class="global-search-input"
                pInputText
                type="text"
                [(ngModel)]="globalFilter"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search Students..."
            />
        </p-iconfield>

        <p-select
          [options]="statusOptions"
          [(ngModel)]="selectedStatus"
          optionLabel="label"
          optionValue="value"
          placeholder="All Status"
          (onChange)="dt.filter($event.value, 'status', 'equals')"
          class="select-status">
        </p-select>

        <p-select
          [options]="gradeOptions"
          [(ngModel)]="selectedGrade"
          optionLabel="label"
          optionValue="value"
          placeholder="All Grades"
          (onChange)="dt.filter($event.value, 'grade', 'equals')"
          class="select-grade">
        </p-select>
      </div>

      <div class="selection-bar"
       *ngIf="selectedStudents.length > 0"
      >
        <span>{{ selectedStudents.length }} student(s) selected</span>

        <button 
          pButton
          label="Delete Selected"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="deleteSelected()">
        </button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
        <th *ngFor="let col of columns()"
            [pSortableColumn]="col.field"
            [style.width]="col.width"
            [style.min-width]="col.width">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th style="min-width: 150px">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-student>
      <tr class="student-row">
        <td><p-tableCheckbox [value]="student"></p-tableCheckbox></td>
        <td *ngFor="let col of columns()">
          <ng-container [ngSwitch]="col.type">
            <p-tag *ngSwitchCase="'tag'" [value]="student[col.field]" [severity]="getSeverity(student[col.field])"></p-tag>
            <span *ngSwitchDefault>{{ student[col.field] }}</span>
          </ng-container>
        </td>
        <td class="actions-column">
          <button pButton icon="pi pi-pencil" class="p-button-text p-button-success" (click)="editStudent(student)"></button>
          <button pButton icon="pi pi-trash" class="p-button-text p-button-danger" (click)="onDelete(student)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns().length + 2">No students found.</td>
      </tr>
    </ng-template>
    
  </p-table>

  <app-add-students></app-add-students>

  <app-update-student></app-update-student>

</div>
