<p-dialog
  header="Update Worker"
  [visible]="visible()"
  (visibleChange)="visible.set($event)"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '420px' }"
  (onHide)="cancel()"
>
  <div class="p-fluid add-form" *ngIf="worker">

    <div class="p-field">
      <label for="id">Id</label>
      <input
        pInputText
        id="id"
        [(ngModel)]="worker.id"
      />
    </div>

    <div class="p-field">
      <label for="name">Name</label>
      <input
        pInputText
        id="name"
        [(ngModel)]="worker.name"
      />
    </div>

    <div class="p-field">
      <label for="email">Email</label>
      <input
        pInputText
        id="email"
        [(ngModel)]="worker.email"
      />
    </div>

    <div class="p-field">
      <label for="department">Department</label>
      <input
        pInputText
        id="department"
        type="number"
        [(ngModel)]="worker.department"
      />
    </div>

    <div class="p-field">
      <label for="experience">Experience</label>
      <input
        pInputText
        id="experience"
        [(ngModel)]="worker.experience"
      />
    </div>

    <div class="buttons">
      <button
        pButton
        type="button"
        label="Cancel"
        class="p-button-outlined"
        (click)="cancel()"
      ></button>

      <button
        pButton
        type="button"
        label="Update"
        class="p-button-primary"
        (click)="save()"
      ></button>
    </div>

  </div>
</p-dialog>
