html, body {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* html.p-dark body {
    background-color: #0f172a; 
    color: #f1f5f9;
} */

/* :root {
    --stat-card-bg: var(--p-surface-0);
} */